name: Build GetStarted example
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          key: vcpkg
          path: /home/runner/.vcpkg

      - name: Cache packs
        uses: actions/cache@v3
        with:
          key: packs
          path: /home/runner/.cache/arm/packs

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: cpp
          queries: security-and-quality

      - run: |
          . <(curl https://aka.ms/vcpkg-init.sh -L)
          vcpkg activate
          cbuild get_started.csolution.yml --packs --update-rte --configuration .debug+vht

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
